#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

dtmp = debian/universal-ctags

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		--program-transform-name='s/ctags/ctags-universal/; s/etags/etags-universal/'\
		# --with-ctags-datadir=/etc/ctags/
		# --with-ctags-libexecdir=/usr/lib/
		--enable-readlib \
		--enable-etags \
                --enable-iconv

override_dh_installdocs:
	$(MAKE) --directory=docs html
	$(MAKE) --directory=docs pdf
	dh_installdocs

override_dh_install:
	dh_install
